{% extends "base_cd.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'daily_game/css/daily.css' %}">


<title>Count Down Daily Challenge</title>
{% endblock  %}


{% block content %}
<div style="min-height: 100vh;">
    <div class="row">
        <div class="col-md-8 offset-md-2 justify-content-center">

            <div class="game-heading-wrapper game-heading">Multiplayer Daily Challenge</div> 
            <p class="maintxt"> 
                Welcome to The Multiplayer Countdown game.  You can play this online version of classic TV show with other players.  Simply 
                click on the start button to generate Letters, Numbers, and Conundrum rounds.  Points are awarded for each round and you can login / signup to submit your total score at the end of the game.
                A new game is generated daily
                <br/> 
            <div class="daily-index-wrapper">
                <div class="daily-index-content">
                    <h4>Letters Game</h4> Choose 9 letters as vowels or consonants and make the longest word you can.
                </div>
                <div class="daily-index-content">
                    <h4>Numbers Game</h4>You choose 6 large & small numbers and the game generates a target answer. 
                        Use the in-game calculator to try and get the answer. 
                </div>
                <div class="daily-index-content">
                    <h4>Conundrum Game</h4>The conundrum is a 9 letter anagram that has been shuffled by the game.
                </div>
            </div>

            </p>
            <p style="text-align: center;">
                <a href="{%  url 'daily_game:letters' %}">
                    <button onclick="makeButtons(letArray,9,1)" class="btnControl">Start Game</button> 
                </a>    
            </p>
        </div>
    </div>
    <div class="row row-wrapper">
        <div class="col-md-8 offset-md-2 justify-content-center">
            <div class="container">
                <h2>Recent Scores</h2>
                <p></p>                                                                                      
                <div class="table-responsive">          
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Player   </th>
                                <th>Totals   </th>
                                <th>Letters  </th>
                                <th>Numbers  </th>
                                <th>Conundrum</th>
                                <th>date     </th>
                            </tr>
                        </thead>
                        <tbody>


                        {% for rec in context1 %}
                            {% if rec.player is not None%}
                            <tr>
                                <td>{{ rec.player  }}         </td>
                                <td>{{ rec.score_total }}     </td>
                                <td>{{ rec.score_letters }}   </td>
                                <td>{{ rec.score_numbers }}   </td>
                                <td>{{ rec.score_conundrum }} </td>
                                <td>{{ rec.date  }}           </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        <tr><td colspan="6"></td></tr>
                        </tbody>
                    </table>
                </div>  <!--TABLE DIV ENDS HERE-->    
            </div>  <!-- CONTAINER DIV ENDS HERE-->
        </div>
    </div>   <!-- END OF ROW HERE-->

</div>  <!--LAST TAG BEFORE FOOTER-->

{% for letter in context  %}
<script type="text/javascript">
    let gameType = 1
    var letString = '{{ letter.letters }}'
    var letArray = letString.split("")

    // console.log(letString+' array '+letArray)

    var numString ='{{letter.numbers}}'
    var numArray = numString.split(",")

    // console.log(numString+' array '+numArray)

    var myTarget = '{{ letter.num_target }}'
    var cndword = '{{letter.conundrum}}'
    var cndArray =cndword.split("")
    // console.log(cndword+' array '+cndArray)
</script>                       
{% endfor %}


{% endblock  %}