{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}



<div class="row justify-content-center t20">
  <h3>Contact</h3>
</div>

<div class="row justify-content-center" style="height: 100vh;">
  <div class="col-lg-6 pad-20">
    <div class="jumbotron">

      <div class="row col justify-content-center">
        
      </div>

      <div class="t20">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
          <input type="submit" class='btn btn-primary' value="Submit">
        </form>
      </div>

    </div>
  </div>
</div>



{% endblock %}