{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-center t20">
  <h1>About Ascentrick</h1>
</div>
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="jumbotron">
      <div>
        I am a Amjad Saleem freelance web designer & developer based in Leeds UK.
        I am a graduate in Electronic Engineering and have been involved in web design and software since 1998.
        <br><br>
        I am passionate about solving digital problems and creating web based solutions that drive your business.
        I have worked with several small and medium sized business as well as big public and private sector giants.
        I am proficient in all aspects of digital design from conceptualisation to delivery and maintenance.
        <br> <br>
        I have extensive experience of the following: <br>
        <ul class="about">
          <li>
            Working with stake holders to determine project goals.
          </li>
          <li>
            Research target audience and competitors.
          </li>
          <li>
            Evaluate and agree upon digital strategy to achieve outlined objectives.
          </li>
          <li>
            Conceptualise and evolve creative ideas as your project starts to take shape.
          </li>
          <li>
            Design and develop your online project for desktop, tablet and mobile platforms.
          </li>
          <li>
            Design any related print material.
          </li>
          <li>
            Manage on going development to meet targets by performing objective analysis.
          </li>

        </ul>
        <br><br>
        Apart from coding I have been a keen cricketer and never let an opportunity pass to play bat & ball sports. Or
        you might find me loosing fifa to my kids.

      </div>
      <div>
      </div>

    </div>    <!--close jumbotron-->
  </div>

</div>

{% endblock %}